html, body {
	font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FFFBF2;
}
h2 {
	clear: left;
	margin-top: 1.6em;
}
h3 {
	clear: left;
}
li {
	margin-bottom: 0.5em;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
.kb {
	padding: 0 0.2em;
	font-family: "Courier New", Courier, monospace;
	line-height: 1.6em;
	background-color: #fff;
	border: solid 1px #bbb;
	border-radius: 3px;
	box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.33);
}
.sm {
	font-size: 80%;
}
table {
	font-size: 14px;
	border-collapse: collapse;
}
th {
	padding-bottom: 0.5em;
}
tbody tr:nth-child(2n) {
	background-color: #F9F3E6;
}
thead tr {
	border-bottom: solid 1px #b6b6b6;
}
td {
	padding-right: 0.6em;
border-bottom: solid 1px #e1e1e1;
}
.ab {
	font-size: 120%;
	line-height: 0;
	color: #990000;
}
.ab-trigger {
	font-size: 170%;
}
.ab-auto {
	position: relative;
	top: 0.1em;
	font-size: 175%;
}
blockquote {
	margin: 40px 40px 14px;
	padding: 10px 28px;
	border: solid 6px #567c93;
}
